@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  box-sizing: border-box;
}

html,
body {
  background: #ebf9ff;
}

.headerFixedBar {
  /* header bar design */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #203573;
  /* background-color:white; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}

.headerLogoText {
  /* Website name */
  margin: 2px;
  color: white;
  font-size: 1.3em;
  line-height: 1.2em;
}

.headerLogoText:hover {
  color: #ebf9ff;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: initial;
  text-shadow: 0 0 7px aliceblue;
}

.headerLogoImage {
  /* logo */
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
}

.pullLeft {
  float: left;
}
.pullLeft h2 {
  display: inline-block;
}
.pullLeft > .fa-angle-down:before,
.pullLeft > .fa-angle-up:before {
  font-size: x-large;
  font-weight: bold;
  color: #334299;
}

.pullRight {
  float: right;
  display: block;
  margin-right: 2%;
}

.vMiddle {
  position: relative;
  vertical-align: middle;
}

.themeButton {
  color: white;
  background-color: #203573;
  border: 1px solid #203573;
  background-image: linear-gradient(to right, #203573, #0e6e97, #203573);
  box-shadow: 0 4px 15px 0 rgba(49, 102, 182, 0.75);
  padding: 5px 7px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
:focus {
  box-shadow: none !important;
}

.themeButton:hover {
  background: #ebf9ff;
  color: #061d68;
  border-width: thin;
  font-weight: 400 !important;
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.themeButton :focus {
  outline: 0;
}

.logout {
  background-image: linear-gradient(to right, #293241, #293241a6, #293241);
  box-shadow: 1px 4px 15px 1px rgba(136, 163, 204, 0.863) !important;
}

.forumBackground {
  background-image: #fff;
  color: black;
  margin-bottom: 10px;
}

.paginationArrow {
  /*icons currently not working  */
  color: #9e9e9e;
  padding-right: 5px;
  padding-left: 5px;
}

.paginationBar {
  margin-top: 10px;
  padding: 5px;
}

.categoryModule {
  color: black;
  overflow: none;
  margin: top 50px;
}

.forumPad {
  padding: 0px 5px 20px;
  margin-bottom: 20px;
}

.forumModule {
  background-color: white;
  /* background-color: #203573;  */
  color: black;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
}

.forumMargin {
  margin-bottom: 10px;
}

.forumTable {
  width: 100%;
  height: auto;
  border: 1px solid #3d5a80;
}

.forumTable th {
  padding: 5px;
  color: #9e9e9e;
}

.forumTable tr {
  border: 1px solid #9e9e9e;
}

.forumTable td {
  padding: 5px;
}

.forumTable td > a {
  margin: 0;
}
.forumTable a:hover {
  font-weight: normal;
  color: #061d68;
}

.columnPad {
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 10px;
}

body {
  background-color: #ecfbfc;
  margin-top: 75px;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  /* Category name */
  font-size: 1.7em;
  color: #334299;
}
h2 {
  font-size: 1.3em;
  color: #334299;
}
h3 {
  font-size: 1.1em;
  color: #334299;
}
h4 {
  font-size: 1em;
  color: #334299;
}

a {
  /* Home button */
  color: #3d5a80;
  text-decoration: none;
  margin-left: 20px;
}
a:hover {
  color: #3d5a80;
  font-weight: 500;
  text-decoration: none;
}

/* Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 3px 8px;
  margin-left: 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.searchBox {
  margin-right: 0;
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 2px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 13px;
}

.searchBox:hover > .searchButton {
  background: white;
  color: #293241;
}

.searchButton {
  color: white;
  float: right;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #203573;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
  html {
    padding: 2%;
  }
  .headerLogoText {
    font-size: 1em;
  }
  h2 {
    font-size: 1.1em;
  }
}

.newDiscussionText {
  height: auto;
  width: 100%;
  background-color: white;
  color: #061d68;
  margin-top: 5px;
}
/*colour palette 
Alice blue (light)       : #ebf9ff
St patricks blue(medium) : #203573
Royal blue (dark)        : #112769
Gunmetal (e-dark)        : #293241
Burnt Sienna (sh-red)    : #ee6c4d

*/
